.git
.idea
node_modules/
nbproject/
.vs*/
.vscode/
*.code-workspace
.dev-server/
Thumbs.db
.DS_Store

.github/
.releaseconfig.json
.editorconfig
.gitattributes
.eslintrc.json
.eslintrc.js
.eslintignore
.prettierrc.js
.prettierignore

# npm package files
iobroker.*.tgz
package-lock.json

# maintenance scripts
maintenance/**

tsconfig.json
